<html>
    <head>
        <title>404: Page not found</title>
        <style type="text/css">
            .fourhundredandfour img {
                display: block;
                padding: 10px;
                border: 1px solid black;
            }
        </style>
    </head>

    <body>
        <div class="fourhundredandfour">
            <img src="/railroad-static/images/404.jpg"/>
            <h2>Something has gone horribly wrong. Sorry about that.</h2>
            <p>
            <a href="{% url railroad.viewhosts.views.index %}">Go back home</a>
            </p>
        </div>
    </body>
</html>
