<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Railroad: {% block title %}{% endblock %}</title>
<script language="javascript" type="text/javascript" 
    src="/railroad-static/jquery.min.js"></script>
<script language="javascript" type="text/javascript" 
    src="/railroad-static/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" 
    src="/railroad-static/flot/jquery.flot.stack.svn.js"></script>
<script language="javascript" type="text/javascript" 
    src="/railroad-static/flot/jquery.flot.selection.min.js"></script>
<script language="javascript" type="text/javascript"
    src="/railroad-static/jquery.form.js"></script>
<script language="javascript" type="text/javascript"
    src="/railroad-static/jquery-ui-1.8.13.custom.min.js"></script>

<!--[if IE]><script language="javascript" type="text/javascript" src="/railroad-static/flot/excanvas.js"></script><![endif]-->

<script language="javascript" type="text/javascript"
    src="/railroad-static/rr.js"></script>

<link rel="stylesheet" href="/railroad-static/style.css" type="text/css">
<link rel="stylesheet" href="/railroad-static/jquery-ui.css" type="text/css">

</head>

<body>

<div id="header">
<ul>
<li id="title">Railroad</li>
<li><a href="{% url railroad.viewhosts.views.index %}">Home</a></li>
<li><a href="{% url railroad.viewhosts.views.directconfigurator %}">Configurator</a></li>
</ul>
<span id="graph_options">
<a href="#" id="live" title="generate a link to this page which stays live">live link</a> | 
<a href="#" id="static" title="generate a link to this page which zooms to the currently selected time periods">static link</a>
| <input type="checkbox" name="sync" id="sync"><label for="sync" title="keep all the graphs on this page on the same time period">sync graphs</label>
</span>
</div>
<div id="link"></div>
{% block sidebar %}
<div id="sidebar">
{# TODO: Kill the extra ul, it makes no sense #}
<div class="biglist">
<ul>
{% for elem in sidebar %}
	</ul>
		<div class="listheader"><a href="{% url railroad.viewhosts.views.group elem.0 %}">{{elem.0}}</a></div>
		<ul>
    {% for host in elem.1 %}
        {% ifequal host.current_state 0 %}
            <li class="red">
        {% else %}
            <li class="green">
        {% endifequal %}
            <a href="{% url railroad.viewhosts.views.graphpage host.host_name %}">{{host.host_name}}</a>
            {# maybe for later <ul><li>{{host.plugin_output}}</li></ul> #}
            </li>
    {% endfor %}
{% endfor %}
</ul>
</div>

</div>
{% endblock %}
<div id="content">
<h1>{% block header %}{% endblock %}</h1>
{% block content %}{% endblock %}
</div>
<div id="debug">
    <input type="checkbox" name="debug" id="debug_check">Debug</input>
    <ul></ul> 
</div>
</body>
</html>
