<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Railroad: {% block title %}{% endblock %}</title>
<script language="javascript" type="text/javascript"
    src="/railroad-static/js/lib/combined.min.js"></script>

<script language="javascript" type="text/javascript" src="/railroad-static/js/functions.js"></script>
<script language="javascript" type="text/javascript" src="/railroad-static/js/base.js"></script>
<script language="javascript" type="text/javascript" src="/railroad-static/js/graph.js"></script>
<script language="javascript" type="text/javascript" src="/railroad-static/js/form.js"></script>

<link rel="stylesheet" href="/railroad-static/css/style.css" type="text/css">
<link rel="stylesheet" href="/railroad-static/css/jquery-ui.css" type="text/css">

{%block head %}{% endblock %}

</head>

<body>

{% include "sidebar.html" %}
<div id="wrapper">
    <div id="header">
        <ul>
            <li id="title">Railroad</li>
            <li><a href="{% url railroad.viewhosts.views.index %}">Home</a></li>
            <li><a href="{% url railroad.viewhosts.views.directconfigurator %}">Configurator</a></li>
            <li id="preferences">
                <a href="#">Preferences</a>
            </li>
        </ul>
    </div>
    {% include "preferences.html" %}
    <div id="content">
        <h1>{% block header %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
    <div id="debug">
        <input type="checkbox" name="debug" id="debug_check">Debug</input>
        <ul></ul> 
    </div>
</div>

</body>
</html>
