{% extends "base.html" %}

{% block title %}{{ htmltitle }}{% endblock %}

{% block header %}{{pagetitle}}{% endblock %}
{% block head %}
    <script language="javascript" type="text/javascript" src="/railroad-static/js/configurator.js"></script>
{% endblock %}

{% block content %}
<div class="data" id="remoteuserid">{{ remoteuserid }}</div>

{% include "form.html" %}

{% include "toolbar.html" %}

<div class="services">
<table id="graphs">
{% include "graph.html" %}
</table>
</div>

{% endblock %}
