{% extends "base.html" %}

{% block title %}{{ htmltitle }}{% endblock %}

{% block head %}
    <script language="javascript" type="text/javascript" src="/railroad-static/js/configurator.js"></script>
    <script language="javascript" type="text/javascript" src="/railroad-static/js/graph.js"></script>
{% endblock %}

{% block header %}
    <h1>{{pagetitle}}</h1>
    <ul class="liButtons permalink">
        <li id="generateLink">Get Permalink</li>
    </ul>
    <div id="permalinkDiv">
        <p> Please enter an optional description for your permalink </p>
        <textarea id="permalinkDescription" rows="5" cols="80"></textarea>
    </div>
{% endblock %}
{% block content %}
    <div class="data" id="remoteuserid">{{ remoteuserid }}</div>

    {% include "form.html" %}

    {% include "toolbar.html" %}

    <div class="services">
        <div class="data" id="json_services">{{ json_services }}</div>
        <table id="graphs">
        </table>
    </div>

{% endblock %}
