{% extends "base.html" %}

{% block title %}{{ htmltitle }}{% endblock %}

{% block header %}{{pagetitle}}{% endblock %}
{% block head %}
    <script language="javascript" type="text/javascript" src="/railroad-static/js/configurator.js"></script>
{% endblock %}

{% block content %}
<label for="permalink">Permalink</label>
<input id="permalink" type="text" class="permalink"></input>
<ul class="liButtons">
    <li id="generateLink">Generate Link</li>
</ul>
<div class="data" id="remoteuserid">{{ remoteuserid }}</div>

{% include "form.html" %}

{% include "toolbar.html" %}

<div class="services">
<table id="graphs">
</table>
</div>

{% endblock %}
