<div class="filters">
<form name="input" action="{% url railroad.viewhosts.views.graphpage %}"
method="get" id="filters">
<table class="filterform">
    <tr>
        <td colspan=3><h3>Filters</h3></td>
    </tr>
    <tr>
        <th>{{ filterform.host.label }} {{ filterform.host }}</th>
        <td>{{ filterform.a_green }} {{ filterform.a_green.label }}</td>
        <td>{{ filterform.sortby.label }} {{ filterform.sortby }}</td>
    </tr>
    <tr>
        <th>{{ filterform.service.label }} {{ filterform.service }}</th>
        <td>{{ filterform.a_yellow }} {{ filterform.a_yellow.label }}</td>
        <td>{{ filterform.sortreverse }} {{ filterform.sortreverse.label }}</td>
    </tr>
    <tr>
        <td class="submit"><input type="submit" value="Filter" id="submit" /></td>
        <td>{{ filterform.a_red }} {{ filterform.a_red.label }}</td>
        <td></td>
    </tr>
</table>
</form>
</div>
