{% load services %}
{% for graph in loaded_graphs %}
    <tr class="service_row">
        <td class="controls">
            <input type="checkbox" class="graphcheckbox">
        </td>
        <td class="status_text state_{{ graph.current_state|state_name|lower }}">
            <dl>
                <dt name="host">Host</dt>
                <dd name="host">
                    <a href="/railroad/configurator/host/{{graph.host_name}}">
                        {{graph.host_name}}
                    </a>
                </dd>

                <dt name="service">Service</dt>
                <dd name="service">
                    <a href="/railroad/viewhost/{{graph.host_name}}/{{graph.service_description}}">
                        {{graph.service_description}}
                    </a>
                </dd>

                <dt name="output">Output</dt>
                <dd name="output">{{ graph.plugin_output}}</dd>

                <dt name="lastcheck">Last check</dt>
                <dd name="lastcheck">{{ graph.last_check }}</dd>

                <dt name="attempts">Attempts</dt>
                <dd name="attempts">{{ graph.current_attempt }}/{{ graph.max_attempts}}</dd>
            </dl>
        </td>

        <td class="graph_container">
            {% if graph.is_graphable %}
                <div class="options">
                    Current
                    <input type="button" name="day" value="Day"/>
                    <input type="button" name="week" value="Week"/>
                    <input type="button" name="month" value="Month"/>
                    <input type="button" name="year" value="Year"/>
                </div>
                <div class="daterange">
                    From <input type="text" name="from"/>
                    To <input type="text" name="to"/>
                </div>

                    <a href="{{graph.host_name}}/{{graph.service_description}}/{{graph.start}}/{{graph.end}}/100"></a>
                </div>
            <div class="legend"></div>
        {% else %}
            <p class="nograph">No graph</p>
        {% endif %}
        <div id="" class="{{graph.slug}} graph ajax">
        <div id="{{ graph.host_name }}" class="graph_hostname"></div>
        <div id="{{ graph.service_description }}" class="graph_service_name"></div>
        </td>
    </tr>
{% endfor %}
