{% extends "base.html" %}

{% block title %}Group: {{group_name}}{% endblock %}

{% block content %}

<h1>{{group_name}}</h1>
<div class="services">
<table>
<tr>
<th>
<h2>Hosts</h2>
</th>
<th>
<h2>Services</h2>
</th>
</tr>
{% for member in members %}
    <tr>
    {% ifnotequal member.0.host_name None %}
		{% ifequal member.0.current_state '0' %}
			<td class="greenbg">
		{% else %}
			{% ifequal member.0.current_state '1' %}
				<td class="yellowbg">
			{% else %}
				<td class="redbg">
        	{% endifequal %}
       	{% endifequal %}
		<h2><a href="../viewhost/{{member.0.host_name}}">{{member.0.host_name}}</a></h2>
		</td>
	{% else %}
		<td></td>
	{% endifnotequal %}

    {% ifnotequal member.1 None %}
		<td>
			<h2><a href="../viewgroup/{{group_name}}/{{member.1}}">{{member.1}}</a></h2>
		</td>
	{% endifnotequal %}
    </tr>
{% endfor %}
</table>
</div>
{% endblock %}
