{% extends "base.html" %}

{% block title %}Group: {{group_name}}{% endblock %}

{% block content %}

<h1>{{group_name}}</h1>
<div class="services">
<h2>Hosts</h2>
<table>
<tr>
{% for host in hosts %}
	{% ifequal host.current_state '0' %}
		<td class="greenbg">
	{% else %}
		{% ifequal host.current_state '1' %}
			<td class="yellowbg">
		{% else %}
			<td class="redbg">
		{% endifequal %}
	{% endifequal %}
	<a href="/railroad/viewhost/{{host.host_name}}">{{host.host_name}}</a>
	</td>
	{% if forloop.counter|divisibleby:"5" %}</tr><tr>{% endif %}	
{% endfor %}
</tr>
</table>
<br />
<h2>Services</h2>
<table>
<tr>
{% for service in services %}
	<td>
		<a href="/railroad/viewgroup/{{group_name}}/{{service.service_test}}">{{service.service_name}}</a>
	</td>
	{% if forloop.counter|divisibleby:"2" %}</tr><tr>{% endif %}	
{% endfor %}
</tr>
</table>
</div>
{% endblock %}
