<div id="preference_panel" class="preferences">
    <div class="close sprite" id="close_preferences" > </div>
    <h1> Preferences </h1> 
    <fieldset>
        <legend>Time Zone</legend>
        <input type="radio" name="timezone" id="localtime" class="persist" />Local Time
        <input type="radio" name="timezone" id="utc" class="persist" checked />UTC
    </fieldset>
    <fieldset>
        <legend>Sync Graphs</legend>
        <input type="checkbox" name="sync" id="sync" class="persist" />Keep all graphs in sync.
        <p class="hint" id="synchint">Checking this box will synchronize the zoom of all the graphs.</p>
    </fieldset>
    <fieldset id="expansion">
        <legend>Expansion</legend>
        <input type="checkbox" class="persist" id="expandall" />Expand All
        <ul id="expansion_by_type">
            <li><input type="checkbox" class="persist" id="state_ok" />OK</li>
            <li><input type="checkbox" class="persist" id="state_warning" checked />Warning</li>
            <li><input type="checkbox" class="persist" id="state_critical" checked />Critical</li>
            <li><input type="checkbox" class="persist" id="state_unknown" checked />Unknown</li>
        </ul>
    </fieldset>
    <fieldset id="perpage">
        <legend>Graphs Per Page</legend>
        <input type="field" id="graphsPerPage" class="persist" />
    </fieldset>
</div>
