<div id="preference_panel" class="preferences">
    <div class="close sprite" id="close_preferences" > </div>
    <h1> Preferences </h1> 
     <fieldset>
        <legend>Graph Warning Threshold</legend>
        <input type="field" id="graphWarningThreshold" class="persist" />
        <span class="hint" id="graphWarning" class="persist">If you try to add more graphs than this number, the page will ask if you really want to add the graphs or not</span>
    </fieldset>
    <fieldset>
        <legend>Time Zone</legend>
        <input type="radio" name="timezone" id="localtime" class="persist">Local Time</input>
        <input type="radio" name="timezone" id="utc" class="persist" checked>UTC</input>
    </fieldset>
    <fieldset>
        <legend>Sync Graphs</legend>
        <input type="checkbox" name="sync" id="sync" class="persist">Keep all graphs in sync.</input>
        <p class="hint" id="synchint">Checking this box will synchronize the zoom of all the graphs.</p>
    </fieldset>
        <fieldset id="expansion">
            <legend>Expansion</legend>
            <input type="checkbox" class="persist" id="expandall">Expand All</input>
            <ul id="expansion_by_type">
                <li><input type="checkbox" class="persist" id="state_ok">OK</input></li>
                <li><input type="checkbox" class="persist" id="state_warning" checked>Warning</input></li>
                <li><input type="checkbox" class="persist" id="state_critical" checked>Critical</input></li>
                <li><input type="checkbox" class="persist" id="state_unknown" checked>Unknown</input></li>
            </ul>
        </fieldset>
        <fieldset id="perpage">
            <legend>Graphs Per Page</legend>
            <input type="field" id="graphsPerPage" class="persist" />
        </fieldset>
</div>    
