{% extends "base.html" %}

{% block title %}Service detail: {{host_name}} &gt; {{service_name}}{% endblock %}

{% block header %}
<a href="/railroad/configurator/host/{{host_name}}">
{% ifequal host_state '0' %}
	<span class="greenbg">
{% else %}
	<span class="redbg">
{% endifequal %}
{{host_name}}</span></a> &gt; 
{% ifequal service_state '0' %}
	<span class="greenbg">
{% else %}
	{% ifequal service_state '1' %}
		<span class="yellowbg">
	{% else %}
		<span class="redbg">
	{% endifequal %}
{% endifequal %}
{{service_name}}</span>
{% endblock %}

{% block content %}

<div class="coildisplay">
<h1>Output</h1><pre>{% filter wordwrap:80 %}{{plugin_output}}
{{service_output}}{% endfilter %}</pre><h1>Coil File</h1><pre>{% filter wordwrap:80 %}{{coil}}{% endfilter %}</pre>
</div>

<div class="graphstack">
{% if graphable %}
	{% for time_interval in time_intervals %}
        <div class="graph_container">
			<h2>{{time_interval.0|title}}</h2>
            <div class="options">
                Current
                <input type="button" name="day" value="Day"/>
                <input type="button" name="week" value="Week"/>
                <input type="button" name="month" value="Month"/>
                <input type="button" name="year" value="Year"/>
            </div>
            <div class="{{slug}} graph graphInfo" name="{{slug}}" id="{{forloop.counter}}">
                <div id="{{host_name}}" class="graph_hostname"></div>
                <div id="{{service_name}}" class="graph_service_name"></div>
                <div id="{{time_interval.1.0}}" class="graph_start"></div>
                <div id="{{time_interval.1.1}}" class="graph_end"></div>
            </div>
            <div class="legend"></div>
        </div>
	{% endfor %}
{% endif %}
</div>
{% endblock %}
