{% extends "base.html" %}

{% block title %}Service detail: {{host_name}} &gt; {{service_name}}{% endblock %}

{% block content %}

<h1><a href="/railroad/viewhost/{{host_name}}">{{host_name}}</a> &gt; {{service_name}}</h1>

<pre>{{service}}</pre>

<table>
{% for time_interval in time_intervals %}
	<tr>
		<td><h2>{{time_interval.0}}</h2><div class="graph_container"><div id="{{service_name|slugify}}" class="graph">{{host_name}}/{{service_name}}/{{time_interval.1.0}}/{{time_interval.1.1}}/100</div><div class="legend"></div></div></td>
	</tr>
{% endfor %}
</table>
{% endblock %}
