{% extends "base.html" %}
{% load services %}

{% block head %}
<link rel="stylesheet" href="/railroad-static/css/service.css" type="text/css">
{% endblock head %}

{% block title %}Service detail: {{host_name}} &gt; {{service_name}}{% endblock %}

{% block header %}
    <a href="/railroad/configurator/host/{{host_name}}"
        class="status_text state_{{ host_state|state_name|lower }}">
        {{host_name}}
    </a> &gt;
    <span class="status_text state_{{ service_state|state_name|lower }}">
        {{service_name}}
    </span>
{% endblock %}

{% block content %}

{% if graphable %}
<div class="graphgrid">
	{% for time_interval in time_intervals %}
        <div class="graph_container">
			<h2>{{time_interval.0|title}}</h2>
            <div class="{{slug}} graph graphInfo" name="{{slug}}" id="{{forloop.counter}}">
                <div id="{{host_name}}" class="graph_hostname"></div>
                <div id="{{service_name}}" class="graph_service_name"></div>
                <div id="{{time_interval.1.0}}" class="graph_start"></div>
                <div id="{{time_interval.1.1}}" class="graph_end"></div>
            </div>
            <div class="legend"></div>
        </div>
	{% endfor %}
</div>
{% endif %}

<div class="coildisplay">
<h1>Output</h1><pre>{% filter wordwrap:80 %}{{plugin_output}}
{{service_output}}{% endfilter %}</pre><h1>Coil File</h1><pre>{% filter wordwrap:80 %}{{coil}}{% endfilter %}</pre>
</div>

{% endblock %}
