{% load services %}
{% block sidebar %}
<div id="sidebar">
<div class="biglist">
{% for elem in sidebar %}
    <div class="listheader">
        <a href="{% url railroad.viewhosts.views.group elem.0 %}">{{elem.0}}</a></div>
    <ul>
    {% for host in elem.1 %}
        <li class="state_{{ host.current_state|state_name|lower }}">
            <a href="{% url railroad.viewhosts.views.directconfigurator %}?hosts={{host.host_name}}">
                {{host.host_name}}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endfor %}
</div>

</div>
{% endblock %}
