<div id="toolbar">
    <ul id="check_controls">
        <li id="checkall">
            <input type="checkbox" />
            <div class="sprite open_tri_s"></div>
        </li>
    </ul>
    <ul id="row_manip">
        <input type="button" id="remove_checked" value="Remove"></input>
        <input type="button" id="collapse_checked" value="Collapse"></input>
        <input type="button" id="expand_checked" value="Expand"></input>
    </ul>
</div>
<div class="menu" id="selectall">
    <ul>
        <li name="all">Select All</li>
        <li name="none">Select None</li>
        <li name="state_ok">Select OK</li>
        <li name="state_warning">Select Warning</li>
        <li name="state_critical">Select Critical</li>
        <li name="state_unknown">Select Unknown</li>
    </ul>
</div>
