<div id="toolbar">
    <ul id="check_controls">
        <li id="checkall">
            <input class="checkall" type="checkbox" />
            <div class="sprite open_tri_s"></div>
        </li>
    </ul>
    <ul id="row_manip">
        {# The weird spacing has a purpose: it makes spaces in the html go away #}
        <li id="remove_checked">Remove</li
        ><li id="collapse_checked">Collapse</li
        ><li id="expand_checked">Expand</li>
    </ul>
    <ul id="stats">
        <li id="service_count">0 Services</li
        ><li id="state_ok_count" class="state_ok">0</li
        ><li id="state_warning_count" class="state_warning">0</li
        ><li id="state_critical_count" class="state_critical">0</li
        ><li id="state_unknown_count" class="state_unknown">0</li>
    </ul>
</div>
<div class="menu" id="selectall">
    <ul>
        <li name="all">Select All</li>
        <li name="none">Select None</li>
        <li name="state_ok">Select OK</li>
        <li name="state_warning">Select Warning</li>
        <li name="state_critical">Select Critical</li>
        <li name="state_unknown">Select Unknown</li>
    </ul>
</div>
