#downtimegraph {
    width: 850px;
    height: 250px;;
    border: 1px solid black;
    margin: 10px 50px;
}
.downtimerow {
    overflow: hidden;
}
.downtime {
    margin: 15px;
    float: left;
    width: 440px;
}

li {
    list-style: none;
    margin-left: 15px;
}
li li { list-style: circle; margin-left: 30px; }
