body {
    font-family: sans-serif;
}

h1,h2,h3 {
    color: #444;
}

td {
    border: thin solid #CCC;
}

.Ok,.Up {
    background-color: #ccffcc;
}

.Warning {
    background-color: #ffffcc;
}

.Critical,.Down {
    background-color: #ffcccc;
}

.Unknown {
    background-color: #ffcc55;
}
